/* ToplulukDetay.css */

/* Başlık için stil */
h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Paragraf stilleri */
  p {
    font-size: 16px;
    color: #666;
    margin-bottom: 8px;
  }
  